@{
    Layout = "_Layout";
    ViewBag.Titulo = "Histórico de conversões";
}

@model IEnumerable<ConversorNumerosInteirosRomanos.WebApp.ConversorNumerico.Apresentacao.DetalhesConversaoViewModel>

<div class="d-flex justify-content-center">
<h2>Histórico de Conversões</h2>
</div>

<div class="d-flex justify-content-center gap-2 mb-3">
    <a class="btn btn-outline-primary square-btn px-4" asp-action="ConverterParaRomano">Converter para Romano</a>
    <a class="btn btn-outline-primary square-btn px-4" asp-action="ConverterDeRomano">Converter de Romano</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Romano</th>
            <th>Data/Hora</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DetalhesConversaoViewModel num in Model)
        {
            <tr>
                <td>@num.Numero</td>
                <td>@num.Romano</td>
                <td>@num.DataHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="Excluir" asp-route-id="@num.Id" class="btn btn-danger btn-sm">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
